<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Upload File</title>
</head>
<body>
    <h1>Upload file</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="name">Name: <input type="text" id="name" name="name"></label> <br>
        <label for="file">File: <input type="file" id="file" name="file"></label> <br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>